@charset 'utf-8';


body{
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}
main{
    width: 60%;
    height: 98%;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 2vmin;
    display: flex;
    justify-content: center;
}
.linha{
    border: 1px white;
}
#fundo{
    height: 90%;
    width: 99%;
    
}
#container{
    
}